<h1><%= @song.title %></h1>

<% if @song.artist_name %>
  <h3>Artist</h3>
  <%= @song.artist_name %>
<% end %>

<% if @song.released == "true" %>
  <h3>Released:</h3>
  <%= @song.release_year %>
<% end %>

<% if @song.genre %>
  <h3>Genre</h3>
  <%= @song.genre %>
<% end %>
